<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="{{ description }}" >
    <meta name="author" content="Christian und Dario" >
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title> {% block title %}Surfjudge{% endblock title %} </title>

    {% block css %}
    <script src="/static/fontawesome-free-5.8.1/js/all.js"></script>


    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="/static/bootstrap_table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/surfjudge/css/surfjudge.css" rel="stylesheet">
    <link href="/static/img/SurfjudgeLogoSmall.png" rel="shortcut icon">
    {% endblock css %}
    {% endblock header %}
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation" style="padding:0;">

		   <!-- The following gives three lines if navbar is collapsed -->
            <div class="navbar-header">
                {% block navbar_header %}
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% endblock navbar_header %}
                <a class="navbar-brand" href="/" style="padding:0;"><img src="/static/img/SurfjudgeLogo.png" style="width: auto;height:45px"></a>
                <a class="navbar-brand" href="/" style="padding:0;"><img src="/static/img/DWV_Logo_weiß_small.png" style="width: auto;height:45px"></a>
	    </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" id='nav_item_live_results'><a class="nav-link" href="/live_results"><span class="fa fa-align-left"></span>&nbsp;Live Results</a></li>
                    <li class="nav-item" id='nav_item_heatcharts'><a class="nav-link" href="/heatcharts"><span class="fa fa-project-diagram"></span>&nbsp;Heatcharts</a></li>
                    <li class="nav-item" id='nav_item_results'><a class="nav-link" href="/results"><span class="fa fa-list"></span>&nbsp;Results</a></li>
                </ul>
            </div>
    </nav>


    {% block content_layout %}

        {% block content %}
        <h1> {{ message }} </h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        {% endblock content %}
    {% endblock content_layout %}



    {% block modals %}
    {% endblock modals %}

    {% block javascript %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/static/bootstrap-4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="/static/bootstrap_table/bootstrap-table.min.js"></script>
    <script src="/static/surfjudge/js/parse_date_local.js"></script>
    <script src="/static/surfjudge/js/string_format.js"></script>
    <script src="/static/surfjudge/js/lighten_darken_color.js"></script>
    <script src="/static/surfjudge/js/websocket_client.js"></script>
    <script src="/static/reconnecting-websocket/reconnecting-websocket.js"></script>
    <!-- The following sets the current navigation item as active -->
    <script>
     $(document).ready(function() {
         window.scrollTo(0,1);
         var elem_ids = {% block nav_items %}["#nav_item_home"]{% endblock nav_items %};
         for (i=0; i<elem_ids.length; i++){
             $(elem_ids[i]).addClass("active");
         }
     });
    </script>
    {% endblock javascript %}

    {% block modal_javascript %}
    {% endblock modal_javascript %}

  </body>
</html>
